.tbn-whatsapp{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 50px;
}

.tbn-whatsapp:hover{
    background-color: #1c723c;
}

.tbn-whatsapp__texto{}

.tbn-whatsapp__icono{
    width: 50px;
    height: 50px;
    /* background-image: url(../img/whatsapp.svg); */
    background-image: url(../../assets/img/whatsapp.svg);
    background-size:cover;
}

.tbn-whatsapp__icono:hover{
    cursor: pointer;
}
