.section__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #003a1520;
    padding: 2rem 0;

}
.section__contacto__contenedor{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffffe1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    box-shadow: 5px 7px 60px  rgb(209, 209, 209);
    border-radius: 2rem;
    margin-top: 40px;
    margin-bottom: 60px;
    grid:40px;

}
@media (width > 720px){
    .section__contacto__contenedor{
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        box-shadow: 16px 16px 30px rgb(209, 209, 209);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 40px;
        margin-bottom: 60px;
    }
}
.section__contacto__imagen{
    background-image: url(../../../assets/img/imagenesfive/five4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (width > 720px){
    .section__contacto__imagen{
        background-position: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}
.section__contacto__formulario{
    padding: 20px;
    margin: 10px;
    margin-right: -30px;
    margin-left: 30px;
}
@media(width > 720px){
    .section__contacto__formulario{
        border-top-right-radius: 10px;

    }
}

.section__contacto__titulo-principal{
    border-radius: 1rem;
    background-color: #ffffffcc;
    font-family: var(--fuente-principal);
    font-weight: 900;
    font-size: var(--titulo-secundario);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.316);
}

@media(width < 400px){
    .section__contacto__titulo-principal{
        font-size: 40px;
    }
}
.container-bt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-enviar{
    width: 70%;
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    padding: 10px 20px;
    margin-left: -50px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover{
    background-color: #000;
    color: #fff;
}



.tbn-whatsapp{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 50px;
}

.tbn-whatsapp:hover{
    background-color: #1c723c;
}

.tbn-whatsapp__texto{}

.tbn-whatsapp__icono{
    width: 50px;
    height: 50px;
    background-image: url(../../../assets/img/whatsapp.svg);
    background-size:cover;
}

.tbn-whatsapp__icono:hover{
    cursor: pointer;
}
.div-c{
    width: 100%;
    margin: 20px;
    height: 100%;
}

.input-c {
    width: 80%;
    height: 40px;
    padding: 15px;
    border: 1px solid #ccc;
    border-top-style:none;
    border-left-style: none;
    border-right-style: none ;
    border-bottom-style: outset ;   
}
.text-container{
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}
