@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.bannerx {
    background-image: url(../../../assets/img/imagenesfive/bannerx1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    width: 100%;
    height: 80vh; /* Utilizamos vh para indicar el 80% del tamaño de la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Agregamos la animación */
    animation-name: fadeIn;
    animation-duration: 1s; /* Duración de la animación */
}
.contenedorx{
    margin:0 auto;
}
.banner__titulox{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: var(--titulo-principal);
    font-style: normal;
    color: white;
    position:center center;
    background-color: #3a373762;
    width: 100%;
    border-radius: 0.5rem;
}

.container__categorys{
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin-top: -3rem;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.48);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.411);

}


.container__categorys h1{
    font-family: var(--fuente-principal);
    padding: 30px 0 10px 0;
    border-style: solid;
    border-width: 0 0 2px 0;    
}




.category:hover{
    scale:1.1
}

.section__productos{
    background-color:  #003a1520;
    padding-bottom: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    filter:blur(0.1px)
}
.section__producto-titulo{
    font-family: var(--fuente-principal);
    font-weight: 900;
    font-size: var(--titulo-secundario);
    text-align: center;
    padding: 30px 0 10px 0;

}
.large{
    background-color: #31bb16;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.548);
}
.large::before,
.large::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #26721ca6;
}
.short{
    background-color: #31bb16;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.548);
}
.short::before,
.short::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 400%;
    height: 1px;
    background-color: #3c721ca6;
}

.section__productos h1{
    font-family: var(--fuente-principal);
    font-size: 2.5rem;
    position: relative;
    display: inline-block;
    margin: 80px 10px 30px 10px;
    
}
.section__productos h1::before{
    left:-20px;
    transform: translateX(-100%);
}
.section__productos h1::after{
    right: -20px;
    transform: translateX(100%);
}
    .product-card__buttonm{
        justify-content: center;
        align-items: center;
        background-color: #6834345e;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        cursor: pointer;
        border: none;
        margin-right: 10px;
    }

    .product-card__buttonm:hover {
        background-color: #cc0000;
    }
.product-card__buttonM {
    justify-content: center;
    align-items: center;
    background-color: #368b3369;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}
.product-card__buttonM:hover {
    background-color: #23ba7b;
}
.card__title{
    font-family: var(--fuente-principal);
    font-weight: 100;
    font-size: 14px;
    text-align: start;
    margin-top: 0.4rem;
    margin-left: 0.3rem;
    margin-bottom: 0.4rem;

}

.contenedor_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
    gap:10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    
}
.contenedor h1{
    font-family: var(--fuente-principal);
}
@media (width <1000px){
    .banner__titulox{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: var(--titulo-principal);
    font-style: normal;
    color: white;
    background-color: #3a373762;
    width: 100%;
    border-radius: 0.5rem;
}

}

@media (width < 770px){
    .banner__titulox{
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 60px;
        font-style: normal;
        color: white;
        position: center center;
        background-color: #3a373762;
        width: 100%;
        border-radius: 0.5rem;
    }
    .contenedor_cards{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: center;    
    }
    .container__categorys{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-top: -3rem;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.48);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.411);
    }
    .categorys{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        align-content: center;
        width: 80%;
    }

    .imgSalsa{
        background-image: url(../../../assets/img/imagenesfive/presentacion_salsa2.PNG);
        background-position: center center;
    }
    .imgSalsa{
        background-image: url(../../../assets/img/imagenesfive/presentacion_salsa2.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgPastelC{
        background-image: url(../../../assets/img/imagenesfive/croasanes_crudos23.png);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgPatel{
        background-image: url(../../../assets/img/imagenesfive/palito1.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgCarnes{
        background-image: url(../../../assets/img/imagenesfive/carne2.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .category:hover{
        scale:1.2
    }
    .category{
        font-family: var(--fuente-principal);
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 250px;
        border-radius: 0.3rem;
        background-color: rgba(255, 255, 255, 0.527);
        margin: 1rem;
        box-shadow: 0 8px 20px 3px #3a3737;
    }
    .textoCategory{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-family: var(--fuente-principal);
        font-size: 18px;
        font-weight: bold;
        background-color: #3838389f;
        border-radius: 0.2rem;
        padding: 0.5rem;
    }
}
@media (width < 520px){
    .banner__titulox{
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 45px;
        font-style: normal;
        color: white;
        margin-left: 50px;
        background-color: #3a373762;
        width: 85.5%;
        border-radius: 0.5rem;
    }
    .contenedor_cards{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: center;    
    }
    .container__categorys{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-top: -3rem;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.48);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.411);
    }
    .large{
        background-color: #31bb16;
        border-radius: 1rem;
        color: white;
        padding: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.548);
    }
    .section__productos h1{
        font-family: var(--fuente-principal);
        font-size: 1.5rem;
        position: relative;
        display: inline-block;
        margin: 80px 10px 30px 10px;
        
    }
    .categorys{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        align-content: center;
        width: 70%;
    }
    .imgSalsa{
        background-image: url(../../../assets/img/imagenesfive/presentacion_salsa2.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgPastelC{
        background-image: url(../../../assets/img/imagenesfive/croasanes_crudos23.png);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgPatel{
        background-image: url(../../../assets/img/imagenesfive/palito1.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgCarnes{
        background-image: url(../../../assets/img/imagenesfive/carne2.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .category:hover{
        scale:1.2
    }
    .textoCategory{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-family: var(--fuente-principal);
        font-size: 23px;
        font-weight: bold;
        background-color: #3838389f;
        border-radius: 0.2rem;
        padding: 0.5rem;
    }
}
@media (width > 770px){
    .contenedor_cards{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        justify-items: center;
        align-items: center;    
    }
    .categorys{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items:center;
        align-content: space-between;
        width: 90%;
        height: 90%;
        grid-gap:20px;
    }
    .imgSalsa{
        background-image: url(../../../assets/img/imagenesfive/presentacion_salsa2.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgPastelC{
        background-image: url(../../../assets/img/imagenesfive/croasanes_crudos23.png);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgPatel{
        background-image: url(../../../assets/img/imagenesfive/palito1.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .imgCarnes{
        background-image: url(../../../assets/img/imagenesfive/carne2.PNG);
        background-position: center center;
        height: 100%;
        width: 100%;
    }
    .category{
        font-family: var(--fuente-principal);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 300px;
        border-radius: 0.3rem;
        background-color: rgba(255, 255, 255, 0.527);
        padding: 1rem;
        box-shadow: 0 8px 20px 3px #3a3737;
    }
    .textoCategory{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-family: var(--fuente-principal);
        font-size: 23px;
        font-weight: bold;
        background-color: #3838389f;
        border-radius: 0.2rem;
        padding: 0.5rem;
    }
}
@media (width > 1080px){
    .contenedor_cards{
        display: grid;
    grid-template-columns: repeat(4,1fr) ;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
    gap:10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    }
    .categorys{
        font-family: var(--fuente-principal);
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        width: 100%;
    }
    .category{
        font-family: var(--fuente-principal);
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 300px;
        border-radius: 0.3rem;
        background-color: rgba(255, 255, 255, 0.527);
        margin: 2rem;
        box-shadow: 0 8px 20px 3px #3a3737;
    }
    .textoCategory{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 10;
        color: rgb(255, 255, 255);
        font-family: var(--fuente-principal);
        font-size: 23px;
        font-weight: bold;
        background-color: #3838389f;
        border-radius: 0.2rem;
        padding: 0.5rem;
    }
}
.description{
    font-size: 14px;
    margin-left: 0.5rem;
    font-family: var(--fuente-principal);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.411);
    transition: 1s;
    width: 90%;
    height: 360px;
    margin: 1rem;
    padding: 0.3rem;
    

}
.card:hover{

}
.card h2{
    text-align: left;
    
}

.card__imagen{
    position: relative;
    overflow: hidden;
    transition: 1s;
    height: 60%;
    width: 100%;
}
.card__imagen::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background:linear-gradient(to top, rgba(255,555,555,1) 0%,
    rgba(255,255,255,0) 100%);
}
.card__imagen img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    
}
.card__imagen:hover{
    scale: 1.06;
    transition: 1s;  
}

.card__texto{
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    margin-left: 5px;
    text-align: left;
}
.contenedor__precio{
    margin-bottom: 10px;
}
.card__precio{
    display: flex;
    flex-direction:row;
    justify-content: left;
    font-family: var(--fuente-principal);
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    /* margin-bottom: 10px; */
    /* margin-top: 1rem; */
    margin-right: 1.5rem;
    color: #1c723c;
    margin-bottom: px;
}
.product-card__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79bd1f;
    color: #fff;
    width: 90%;
    height: 12%;
    box-shadow: 0 0 5px #116115;
    border-radius: 5px;
    padding: 20px 10px;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 13px;
    transition: background-color 0.8s ease;

}

.product-card__button:hover{
    background-color: rgb(111, 161, 96);
    scale:1.1;
}
.contenedor__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;
    margin-left: 10px;
    margin-right: 16px;
    padding: 0.2rem 0rem;
}